@media all and (min-width: 480px) {
  .AdminLogs {
    min-height: 91.7vh;
    background-color: whitesmoke;
  }
}

#AdminLogs-table {
  margin-left: 15vw;
  width: 81vw;
  table-layout: fixed;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.AdminLogs-table-th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#AdminLogs-table {
  margin-left: 15vw;
  width: 81vw;
  table-layout: fixed;
}

.AdminLogs-td {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
