.CustomerCoupons {
  min-height: 91.5vh;
  background-color: whitesmoke;
}

.CustomerCoupons-table-th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#CustomerCoupons-table {
  margin-left: 15vw;
  width: 81vw;
  table-layout: fixed;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.CustomerCoupons-td {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#CustomerCoupons-image-td {
  background-size: 100% 100%;
  background-image: url(../../../../../assets/images/coupon.png);
  width: 3.5vw;
  height: 4.5vh;
  margin-left: auto;
  margin-right: auto;
}

.CustomerCoupons-image-div {
  width: 3.5vw;
  height: 4.5vh;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
}
