.login-page {
  min-height: 91.5vh;

  background: linear-gradient(
    0deg,
    rgba(235, 221, 61, 0.3533220720720721) 0%,
    rgba(255, 255, 255, 1) 49%,
    rgba(255, 255, 255, 1) 100%
  );
}
#Login-label {
  text-align: left;
  padding-left: 1%;
}

.form-group {
  margin-bottom: 1vh;
}
#Login-filed {
  padding-right: 5vh;
  width: 24vh;
}

.Login-title {
  margin-top: 1vh;
  margin-bottom: 3vh;
}
.Login-form {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  min-height: 200px;
  width: 60vw;
  margin: 100px auto;
  border-radius: 5px;
  padding: 100px 0;
  background: whitesmoke;
}

#Login-add {
  border: none;
}
.Login-seperator {
  height: 2vh;
}
