.side-bar {
  position: fixed;
  background-color: rgb(33, 37, 41);
  height: 40vh;
  width: 15vw;
  box-shadow: 1px 0px 5px rgb(0, 0, 0);
  top: 25%;
  transform: translateY(-25%);
}

.side-bar-div {
  margin-top: 9%;
  width: 14vw;
  margin-left: auto;
  margin-right: auto;
}

.side-bar-button {
  width: 100%;
  background: none;
  margin: 0;
  padding: 0;
  border-bottom-color: rgba(255, 255, 255, 0.335);
  border-top-color: rgb(33, 37, 41);
  border-left-color: rgb(33, 37, 41);
  user-select: none;
  border-radius: 6px;
  background-color: rgb(33, 37, 41);
  color: aliceblue;
}
.side-bar-button:hover {
  background-color: rgba(255, 254, 254, 0.685);
  color: black;
}
.side-bar-button:active {
  background-color: rgba(245, 252, 255, 0.37);
  transform: translateY(4px);
}
